extends ./components/layout.pug

block variables
     - let title = 'Accueil';

block content
     .container.mt-4
          h1 Bienvenue sur mon app Pug
          p Bonjour #{name} le bg
          .row
               .col-md-6
                    .card.mt-4
                         .card-body
                              h5.card-title Titre
                              p.card-text texte bla bla bla
                              a(href="#").card-link Lire la suite
                              br
                              .badge.badge-info.m-1 Catégorie #1
               .col-md-6
                    .card.mt-4
                         .card-body
                              h5.card-title Titre 2
                              p.card-text texte bla bla bla
                              a(href="#").card-link Lire la suite
                              br
                              .badge.badge-info.m-1 Catégorie #1
                              .badge.badge-info.m-1 Catégorie #2
                         